@import "../../_globalColor";

.podcast-header-title {
  font-size: 56px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.podcast-header-subtitle {
  font-size: 20px;
  color: $subTitle;
  text-align: center;
  margin-bottom: 2rem;
}

.podcast-main-div {
  width: 100vw; /* prend toute la largeur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.podcast {
  width: 100%; /* prend toute la largeur disponible */
  max-width: none !important; /* annule toute limite */
  height: 500px; /* ajuste la hauteur selon ton besoin */
  border: none;
  border-radius: 0;
  display: block;
}

/* Responsive design */
@media (max-width: 768px) {
  .podcast-header-title {
    font-size: 30px;
  }

  .podcast-header-subtitle {
    font-size: 16px;
  }

  .podcast {
    height: 300px;
  }
}
